@use "../utilities/css-variables" as cv;
@use "../utilities/initial-variables" as iv;
@use "../utilities/mixins" as mx;

$section-padding-mobile: 3rem 1.5rem !default;
$section-padding-tablet: 3rem 1.5rem !default;
$section-padding-desktop: 3rem 3rem !default;
$section-padding-widescreen: 9rem 4.5rem !default;
$section-padding-fullhd: 18rem 6rem !default;
$section-padding-ultrahd: 18rem 6rem !default;


.#{iv.$class-prefix}section {
  @include cv.register-vars(
    (
      "section-padding-mobile": #{$section-padding-mobile},
      "section-padding-tablet": #{$section-padding-tablet},
      "section-padding-desktop": #{$section-padding-desktop},
      "section-padding-widescreen": #{$section-padding-widescreen},
      "section-padding-fullhd": #{$section-padding-fullhd},
      "section-padding-ultrahd": #{$section-padding-ultrahd},
    )
  );
  padding: cv.getVar("section-padding");

  // Responsiveness
  @include mx.mobile {
    padding: cv.getVar("section-padding-mobile");
  }
  @include mx.tablet {
    padding: cv.getVar("section-padding-tablet");
  }
  @include mx.desktop {
    padding: cv.getVar("section-padding-desktop");
  }
  @include mx.widescreen {
    padding: cv.getVar("section-padding-widescreen");
  }
  @include mx.fullhd {
    padding: cv.getVar("section-padding-fullhd");
  }
  @include mx.ultrahd {
    padding: cv.getVar("section-padding-ultrahd");
  }

  &.#{iv.$class-prefix}is-fullheight {
    min-height: 100lvh;
  }
}
