

// Colors

// Typography

$font-regular: "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-bold: "Inconsolata", "Hack", "SF Mono", "Roboto Mono",
  "Source Code Pro", "Ubuntu Mono", monospace !default;
$font-light: "Inconsolata", "Hack", "SF Mono", "Roboto Mono",
  "Source Code Pro", "Ubuntu Mono", monospace !default;
$render-mode: optimizeLegibility !default;

$size-0: 0!default;
$size-4: 0.25rem!default;
$size-8: 0.5rem!default;
$size-12: 0.75rem!default;
$size-16: 1rem!default;
$size-20: 1.25rem!default;
$size-24 :1.5rem!default;
$size-28 :1.75rem!default;
$size-32: 2rem!default;
$size-48: 3rem!default;

$weight-light: 400 !default;
$weight-normal: 400 !default;
$weight-medium: 400 !default;
$weight-semibold: 400 !default;
$weight-bold: 400 !default;
$weight-extrabold: 400 !default;

// Spacing

$block-spacing: 1.5rem !default;
$aspect-ratios: (
  (1, 1),
  (5, 4),
  (4, 3),
  (3, 2),
  (5, 3),
  (16, 9),
  (2, 1),
  (3, 1),
  (4, 5),
  (3, 4),
  (2, 3),
  (3, 5),
  (9, 16),
  (1, 2),
  (1, 3)
) !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 16px !default;

$container-max-width: $fullhd - 2 * $gap;

$tablet: 768px !default;

$desktop: 1024px !default;

$widescreen: 1216px  !default;
$widescreen-enabled: true !default;

$fullhd: 1408px;
$fullhd-enabled: true !default;

$ultrahd: 1920px ;
$ultrahd-enabled: true !default;

$breakpoints: (
  "mobile": (
    "until": $tablet,
  ),
  "tablet": (
    "from": $tablet,
  ),
  "tablet-only": (
    "from": $tablet,
    "until": $desktop,
  ),
  "touch": (
    "from": $desktop,
  ),
  "desktop": (
    "from": $desktop,
  ),
  "desktop-only": (
    "from": $desktop,
    "until": $widescreen,
  ),
  "until-widescreen": (
    "until": $widescreen,
  ),
  "widescreen": (
    "from": $widescreen,
  ),
  "widescreen-only": (
    "from": $widescreen,
    "until": $fullhd,
  ),
  "until-fullhd": (
    "until": $fullhd,
  ),
  "fullhd": (
    "from": $fullhd,
  ),
  "fullhd-only": (
    "from": $fullhd,
    "until": $ultrahd,
  ),
  "ultrahd": (
    "from": $ultrahd,
  ),
) !default;


// Flags

$variable-columns: true !default;
$rtl: false !default;

// Prefixes

$class-prefix: "" !default;
$cssvars-prefix: "" !default;
$helpers-prefix: "is-" !default;
$helpers-has-prefix: "has-" !default;
