@use "../utilities/initial-variables" as iv;

.marginless {
  margin: 0 !important;
}

.paddingless {
  padding: 0 !important;
}

$spacing-shortcuts: (
  "margin": "m",
  "padding": "p",
) !default;
$spacing-directions: (
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
) !default;
$spacing-horizontal: "x" !default;
$spacing-vertical: "y" !default;
$spacing-values: (
  "0": 0,
  "4": 0.25rem,
  "8": 0.5rem,
  "12": 0.75rem,
  "16": 1rem
  "20": 1.25rem
  "24" :1.5rem
  "28" :1.75rem
  "32": 2rem,
  "48": 3rem,
  "auto": auto,
) !default;

=spacing-helpers($suffix: '')
  $suffix: if($suffix == '', '', '-' + $suffix)
  @each $property, $shortcut in $spacing-shortcuts
    @each $name, $value in $spacing-values
      @if $property == 'padding' and $value == 'auto'
        // Exclude padding value auto
      @else
        // All directions
        .#{$shortcut}-#{$name}#{$suffix}
          #{$property}: $value
        @each $direction, $direction-suffix in $spacing-directions
          .#{$shortcut}#{$direction-suffix}-#{$name}#{$suffix}
            #{$property}-#{$direction}: $value
        // Horizontal axis
        @if $spacing-horizontal != null
          .#{$shortcut}#{$spacing-horizontal}-#{$name}#{$suffix}
            #{$property}-left: $value
            #{$property}-right: $value 
        // Vertical axis
        @if $spacing-vertical != null
          .#{$shortcut}#{$spacing-vertical}-#{$name}#{$suffix}
            #{$property}-top: $value 
            #{$property}-bottom: $value 

@include spacing-helpers('')

+mobile
  @include spacing-helpers('mobile')

+tablet
  @include spacing-helpers('tablet')

+desktop
  @include spacing-helpers('desktop')
  
+widescreen
  @include spacing-helpers('widescreen')

+fullhd
  @include spacing-helpers('fullhd')
  
+ultrahd
  @include spacing-helpers('ultrahd')
