@use "../utilities/derived-variables" as dv;
@use "../utilities/initial-variables" as iv;
@use "../utilities/mixins" as mx;


$alignments: (
  "centered": "center",
  "justified": "justify",
  "left": "left",
  "right": "right",
);

@each $alignment, $text-align in $alignments {
  .#{iv.$helpers-has-prefix}text-#{$alignment} {
    text-align: #{$text-align} !important;
  }
}

@each $alignment, $text-align in $alignments {
  @include mx.mobile {
    .#{iv.$helpers-has-prefix}text-#{$alignment}-mobile {
      text-align: #{$text-align} !important;
    }
  }

  @include mx.tablet {
    .#{iv.$helpers-has-prefix}text-#{$alignment}-tablet {
      text-align: #{$text-align} !important;
    }
  }


  @include mx.desktop {
    .#{iv.$helpers-has-prefix}text-#{$alignment}-desktop {
      text-align: #{$text-align} !important;
    }
  }

  @include mx.widescreen {
    .#{iv.$helpers-has-prefix}text-#{$alignment}-widescreen {
      text-align: #{$text-align} !important;
    }
  }

  @include mx.fullhd {
    .#{iv.$helpers-has-prefix}text-#{$alignment}-fullhd {
      text-align: #{$text-align} !important;
    }
  }

  @include mx.ultrahd {
    .#{iv.$helpers-has-prefix}text-#{$alignment}-ultrahd {
      text-align: #{$text-align} !important;
    }
  }
}

.#{iv.$helpers-prefix}capitalized {
  text-transform: capitalize !important;
}

.#{iv.$helpers-prefix}lowercase {
  text-transform: lowercase !important;
}

.#{iv.$helpers-prefix}uppercase {
  text-transform: uppercase !important;
}

.#{iv.$helpers-prefix}underlined {
  text-decoration: underline !important;
}

.#{iv.$helpers-prefix}regular {
  font-family: dv.$font-regular !important;
}

.#{iv.$helpers-prefix}bold{
  font-family: dv.$font-bold !important;
}

.#{iv.$helpers-prefix}light {
  font-family: iv.$font-light !important;
}

